<h1 class="text-grey1 text-xl uppercase weight-700">Immobilisations</h1>

<div class="m-40">
    <p>{{selectedVideo.titre}}</p>
    <p>{{selectedVideo.url}}</p>
</div>


<!-- <ul>
    <li ng-repeat="v in videos | filter: {categorie: 'immobilisation'}" ng-click="showDetails(v)">
        <span>{{v.titre}}</span>
        <img ng-src="{{v.poster}}" style="height: 100px;">
    </li>
</ul> -->


<div class="videoGrid flex-container">
    <a class="videoGrid__elt m-x-15 m-b-40" ng-repeat="v in videos" ng-click="showDetails(v)">
        <div class="videoGrid__img">
            <img ng-src="{{v.poster}}">
        </div>
        <p class="p-t-10 text-grey2 uppercase weight-700">{{v.titre}}</p>
    </a>
</div>