<i class="fas fa-bars mobile text-orange" id="open-menu" ng-click="openMenu()"></i>
<i class="fas fa-times mobile text-orange" id="close-menu" ng-click="closeMenu()"></i>



<!-- PLAYER -->
<section class="animated fadeInDown">

    <div class="m-x-15">
        <h1 class="text-grey2 text-xxl uppercase weight-700">Immobilisations</h1>
        <h2 class="subtitle text-xl p-l-40">osae-komi-waza</h2>
    </div>

    <article class="m-x-15 m-t-40 m-b-60 flex-container playerContainer">
        <div class="flex-2 playerContainer__video">
            <div style="position:relative;height:0;padding-bottom:56.21%">
                <iframe src="{{selectedVideo.url | trustUrl}}" style="position:absolute;width:100%;height:100%;left:0" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="flex-1 p-l-40 playerContainer__description">
            <p class="text-grey2 text-l uppercase weight-700 m-b-20">{{selectedVideo.titre}}</p>
            <p class="m-b-10">Niveau : ceinture {{selectedVideo.niveau}}</p>
            <p class="m-b-10">Description : {{selectedVideo.description}}</p>
        </div>
    </article>
</section>

<section class="animated fadeInUp">
    <div class="separator m-x-15">
        <p class="floating-label">+ de vidéos</p>
    </div>

    <!-- PLAYLIST -->
    <article class="m-t-40">
        <div class="videoGrid flex-container">
            <a class="videoGrid__elt m-x-15 m-b-40" ng-repeat="v in videos | filter: {categorie: 'immobilisation'}" ng-click="showDetails(v)">
                <div class="videoGrid__img">
                    <img ng-src="{{v.poster}}">
                </div>
                <p class="p-t-10 text-grey2 uppercase weight-700">{{v.titre}}</p>
            </a>
        </div>
    </article>
</section>