<div class="animated fadeInRight">
  <i class="fas fa-bars mobile text-orange" id="open-menu" ng-click="openMenu()"></i>
  <i class="fas fa-times mobile text-orange" id="close-menu" ng-click="closeMenu()"></i>


  <section>
    <div class="m-x-15">
      <h1 class="text-grey2 text-xxl uppercase weight-700">Contact</h1>
      <!-- <h2 class="subtitle text-xl p-l-40">kwansetsu-waza</h2> -->
    </div>

    <form class="tiny-input">
      <input type="text" name="" class="m-b-10">
      <input type="text" class="m-b-10">

      <div class="m-y-20 flex-container is-horizontal-extremes tiny-input">
        <button class="flex-1 m-r-10" type="reset" value="">Annuler</button>
        <button class="flex-1 m-l-10" type="submit" value="">Envoyer</button>
      </div>
    </form>
  </section>

</div>